* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    @media screen and (max-width: 801px) {
      font-size: 14px;
    }
  }
}
a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 100%;
  font-size: 10px;
}
hr {
  margin: 30px 0;
}

.address-wrapper {
  li {
    margin-bottom: 15px;
  }
}

.social-wrapper {
  display: flex;
  gap: 15px;
  li a i {
    color: black;
    font-size: 20px;
    background-color: transparent;
  }
}

button {
  padding-inline: 25px !important;
}

.left {
  border-right: 1px solid gray;
  @media screen and (max-width: 991px) {
    border: none;
  }
}

.message {
  height: 120px;
}
.success-page {
  width: 50%;
  @media screen and (max-width: 991px) {
    width: 75%;
  }
  i {
    font-size: 68px;
    border-radius: 100%;
    background-color: transparent;
  }
  .icon {
    animation: check 0.8s ease-in-out;
    @keyframes check {
      from {
        opacity: 0;
        transform: scale(0);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
.h2 {
  color: #fe5000;
  font-weight: 600;
}

.contact-page {
  height: 80vh;
}
ol {
  @media screen and (max-width: 991px) {
    padding-left: 30px;
  }

  padding-left: 60px;
}

.error {
  color: red;
  font-size: 15px;
  padding-left: 12px;
  margin-top: 4px;
}
.popup-wrapper {
  text-align: center;
  z-index: 10;
  transition-delay: 2s;

  i {
    color: red;
    font-size: 48px;
    opacity: 0.8;
    @media screen and (max-width: 991px) {
    font-size: 32px;

    }

  }
  .popup {
    font-size: 24px;
    background-color: white;
    box-shadow: 5px 0 20px gray;
    color: black;
    border-radius: 10px;
    padding: 50px 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @media screen and (max-width: 991px) {
      padding: 20px 40px;
      width: 85%;
      font-size: 18px;
    }
  }
}
